<%- include('partials/head') %>

    
<div class="h-screen w-full bg-white relative flex overflow-hidden">
    <%- include('partials/sidebar') %>
      <div class="w-full h-full flex flex-col justify-between">
        <header class="h-16 w-full flex items-center relative justify-end px-5 space-x-10 bg-gray-800">    
            <%- include('partials/header') %> 
        </header>
        <main class="max-w-full h-full flex relative overflow-y-hidden">                      
          <div class="h-full w-full -mt-16 flex flex-wrap items-center justify-center rounded-tl grid-flow-col auto-cols-max gap-4 overflow-y-scroll" style="background: url('/images/Untitleddesign.png') no-repeat ;background-size: cover;">
            <div class="gala">
              <ul class="galal">
                <li class="ggg">
                  
                  <img class="yo" src='https://images.static-collegedunia.com/public/college_data/images/campusimage/147280328182.jpg' /></li>
                
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/1.png' /></li>
                
                <li class="ggg">
                  
                  <img class="yo" src='https://www.gla.ac.in/info/common/images/hostel.jpg' /></li>
                
                <li class="ggg">
                  
                  <img class="yo" src='https://www.gla.ac.in/images/hostel-4.jpg' />
                </li>
                
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/147280328179.webp' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/20211017_104622.jpg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/20211020_213243.jpg' />
                </li>
                
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/3.png' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/6.png' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/67e1135cde0f0d2da4c50331f0f5a26f.jpg' />
                </li>
              </ul>
  

              <ul class="galal">
                
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/IMG-20201216-WA0006.jpg' /></li>
                
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/IMG_20210304_202350.jpg' /></li>
                
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/lohri.jpg' />
                </li>
                
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/LRM_20210925_113146.jpg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/LRM_20220222_162935.jpg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/LRM_20220222_230637.jpg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/mess.png' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/main-qimg-382cb1e4441be6bff9b19f96b87654d8.jpeg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/R.jpeg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/WhatsApp Image 2023-02-17 at 20.02.18.jpg' />
                </li>
              </ul>



              <ul class="galal" class="nato">
                <li class="ggg">
                  
                  <video onmouseover="this.play()" onmouseleave="this.pause()" class="yo one" muted autoplay src='/images/gallary/Snapchat-1637291053.mp4' ></video onmouseover="this.play()" onmouseleave="this.pause">
                </li>
                
                <li class="ggg">
                  
                  <video onmouseover="this.play()" onmouseleave="this.pause()" class="yo one" muted src='/images/gallary/Snapchat-490499038.mp4' ></video onmouseover="this.play()" onmouseleave="this.pause"></li>
                
                <li class="ggg">
                  
                  <video onmouseover="this.play()" onmouseleave="this.pause()" class="yo one" muted src='/images/gallary/Snapchat-612571374.mp4' ></video onmouseover="this.play()" onmouseleave="this.pause">
                </li>
                
                <li class="ggg">
                  
                  <img class="yo one" src='/images/gallary/WhatsApp Image 2023-02-17 at 20.03.30.jpg' />
                </li>
                
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/WhatsApp Image 2023-02-17 at 20.08.35.jpg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo one" src='/images/gallary/WhatsApp Image 2023-02-17 at 20.09.02.jpg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/gallary/9.jpg' /></li>
                
                  <li class="ggg">
                    
                    <img class="yo" src='/images/gallary/20220819_170728.jpg' />
                  </li>
                <li class="ggg">
                  
                  <img class="yo" src='https://images.static-collegedunia.com/public/college_data/images/campusimage/147280328182.jpg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo" src='/images/first.jpg' />
                </li>
                <li class="ggg">
                  
                  <img class="yo one" src='/images/gallary/20211020_213243.jpg' />
                </li>
              </ul>
              
            </div>

            
            <%- include('partials/foot') %>
            
          </div>
        </main>
      </div>
  </div>


<%- include('partials/footer') %>

