<%- include('partials/head') %>

    
<div class="h-screen w-full bg-white relative flex overflow-hidden">
    <%- include('partials/sidebar') %>
      <div class="w-full h-full flex flex-col justify-between">
        <header class="h-16 w-full flex items-center relative justify-end px-5 space-x-10 bg-slate-900">    
            <%- include('partials/header') %> 
        </header>
        <main class="max-w-full h-full flex relative overflow-y-hidden">                      
          <div class=" bg-gradient-to-r from-slate-900 via-slate-600 to-slate-900 h-full w-full m-4 flex flex-wrap items-start justify-center rounded-tl grid-flow-col auto-cols-max gap-4 overflow-y-scroll">
            <div class="buttons">
              <form action="/welcome" method="post">
                
              <br><br><br><br>
              <hr><hr><hr>
              <br>
                <h1 style="color:rgb(251, 251, 253);font-size:38px;text-align: center;font-weight: 700;text-shadow: -1px 1px 2px #000,1px 1px 2px #000,1px -1px 0 #000,-1px -1px 0 #000;">Yamuna</h1>
              <br>
              <hr><hr><hr>
              <br><br><br><br>
              <input type="hidden" name="username" value="<%= username %>" >
              <button  type="submit" value="101" name="roomn">101</button>
              <button name="roomn" type="submit" value="103">102</button>
              <button name="roomn" type="submit" value="102">103</button>
              <button name="roomn" type="submit" value="104">104</button>
              <button name="roomn" type="submit" value="105">105</button>
              <button name="roomn" type="submit" value="106">106</button>
              <button name="roomn" type="submit" value="107">107</button>
              <button name="roomn" type="submit" value="108">108</button>
              <button name="roomn" type="submit" value="109">109</button>
              <button name="roomn" type="submit" value="110">110</button>
              <button name="roomn" type="submit" value="111">111</button>
              <button name="roomn" type="submit" value="112">112</button>
              <button name="roomn" type="submit" value="113">113</button>
              <button name="roomn" type="submit" value="114">114</button>
              <button name="roomn" type="submit" value="115">115</button>
              <button name="roomn" type="submit" value="116">116</button>
              <button name="roomn" type="submit" value="117">117</button>
              <button name="roomn" type="submit" value="118">118</button>
              <button name="roomn" type="submit" value="119">119</button>
              <button name="roomn" type="submit" value="120">120</button>
              <button name="roomn" type="submit" value="121">121</button>
              <button name="roomn" type="submit" value="122">122</button>
              <button name="roomn" type="submit" value="123">123</button>
              <button name="roomn" type="submit" value="124">124</button>
              <button name="roomn" type="submit" value="125">125</button>
              
              <br><br><br><br>
              <hr><hr><hr>
              <br>
                <h1 style="color:rgb(251, 251, 253);font-size:38px;text-align: center;font-weight: 700;text-shadow: -1px 1px 2px #000,1px 1px 2px #000,1px -1px 0 #000,-1px -1px 0 #000;">Kalpana Chawla</h1>
              <br>
              <hr><hr><hr>
              <br><br><br><br>
              <button name="roomn" type="submit" value="126" >101</button>
              <button name="roomn" type="submit" value="127">102</button>
              <button name="roomn" type="submit" value="128">103</button>
              <button name="roomn" type="submit" value="129">104</button>
              <button name="roomn" type="submit" value="130">105</button>
              <button name="roomn" type="submit" value="131">106</button>
              <button name="roomn" type="submit" value="132">107</button>
              <button name="roomn" type="submit" value="133">108</button>
              <button name="roomn" type="submit" value="134">109</button>
              <button name="roomn" type="submit" value="135">110</button>
              <button name="roomn" type="submit" value="136">111</button>
              <button name="roomn" type="submit" value="137">112</button>
              <button name="roomn" type="submit" value="138">113</button>
              <button name="roomn" type="submit" value="139">114</button>
              <button name="roomn" type="submit" value="140">115</button>
              <button name="roomn" type="submit" value="141">116</button>
              <button name="roomn" type="submit" value="142">117</button>
              <button name="roomn" type="submit" value="143">118</button>
              <button name="roomn" type="submit" value="144">119</button>
              <button name="roomn" type="submit" value="145">120</button>
              <button name="roomn" type="submit" value="146">121</button>
              <button name="roomn" type="submit" value="147">122</button>
              <button name="roomn" type="submit" value="148">123</button>
              <button name="roomn" type="submit" value="149">124</button>
              <button name="roomn" type="submit" value="150">125</button>
              
              <br><br><br><br>
              <hr><hr><hr>
              <br>
                <h1 style="color:rgb(251, 251, 253);font-size:38px;text-align: center;font-weight: 700;text-shadow: -1px 1px 2px #000,1px 1px 2px #000,1px -1px 0 #000,-1px -1px 0 #000;">Ganga</h1>
              <br>
              <hr><hr><hr>
              <br><br><br><br>
              <button  type="submit" value="151" name="roomn">101</button>
              <button name="roomn" type="submit" value="152">102</button>
              <button name="roomn" type="submit" value="153">103</button>
              <button name="roomn" type="submit" value="154">104</button>
              <button name="roomn" type="submit" value="155">105</button>
              <button name="roomn" type="submit" value="156">106</button>
              <button name="roomn" type="submit" value="157">107</button>
              <button name="roomn" type="submit" value="158">108</button>
              <button name="roomn" type="submit" value="159">109</button>
              <button name="roomn" type="submit" value="160">110</button>
              <button name="roomn" type="submit" value="161">111</button>
              <button name="roomn" type="submit" value="162">112</button>
              <button name="roomn" type="submit" value="163">113</button>
              <button name="roomn" type="submit" value="164">114</button>
              <button name="roomn" type="submit" value="165">115</button>
              <button name="roomn" type="submit" value="166">116</button>
              <button name="roomn" type="submit" value="167">117</button>
              <button name="roomn" type="submit" value="168">118</button>
              <button name="roomn" type="submit" value="169">119</button>
              <button name="roomn" type="submit" value="170*">120</button>
              <button name="roomn" type="submit" value="171">121</button>
              <button name="roomn" type="submit" value="172">122</button>
              <button name="roomn" type="submit" value="173">123</button>
              <button name="roomn" type="submit" value="174">124</button>
              <button name="roomn" type="submit" value="175">125</button>
              
              <br><br><br><br>
              <hr><hr><hr>
              <br>
                <h1 style="color:rgb(251, 251, 253);font-size:38px;text-align: center;font-weight: 700;text-shadow: -1px 1px 2px #000,1px 1px 2px #000,1px -1px 0 #000,-1px -1px 0 #000;">Godavari</h1>
              <br>
              <hr><hr><hr>
              <br><br><br><br>
              <button name="roomn" type="submit" value="176" >101</button>
              <button name="roomn" type="submit" value="177">102</button>
              <button name="roomn" type="submit" value="175">103</button>
              <button name="roomn" type="submit" value="179">104</button>
              <button name="roomn" type="submit" value="180">105</button>
              <button name="roomn" type="submit" value="181">106</button>
              <button name="roomn" type="submit" value="182">107</button>
              <button name="roomn" type="submit" value="183">108</button>
              <button name="roomn" type="submit" value="184">109</button>
              <button name="roomn" type="submit" value="185">110</button>
              <button name="roomn" type="submit" value="186">111</button>
              <button name="roomn" type="submit" value="187">112</button>
              <button name="roomn" type="submit" value="188">113</button>
              <button name="roomn" type="submit" value="189">114</button>
              <button name="roomn" type="submit" value="190">115</button>
              <button name="roomn" type="submit" value="191">116</button>
              <button name="roomn" type="submit" value="192">117</button>
              <button name="roomn" type="submit" value="193">118</button>
              <button name="roomn" type="submit" value="194">119</button>
              <button name="roomn" type="submit" value="195">120</button>
              <button name="roomn" type="submit" value="196">121</button>
              <button name="roomn" type="submit" value="197">122</button>
              <button name="roomn" type="submit" value="198">123</button>
              <button name="roomn" type="submit" value="199">124</button>
              <button name="roomn" type="submit" value="200">125</button>
              
            </form>
            </div>
            <%- include('partials/foot') %>

          </div>
        </main>
      </div>
  </div>


<%- include('partials/footer') %>